<nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="#">PIZZA X</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" data-scroll href="#home">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" data-scroll href="#novedades">Novedades</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-scroll href="#historia">Historia</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" data-scroll href="#nosotros">Nosotros</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" data-scroll href="#conocenos">Conocenos</a>
              </li>
          </ul>
         </div>
      </nav>
      <div class="container-fluid" > 
        <div id="home" class="row align-items-center hero">
          <div class="col-lg-3 offset-lg-2" >
            <p>Bajada</p>
            <h1>Titulo Principal</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam reiciendis, saepe ipsa quas animi quis a eligendi voluptas fugiat et.</p>
          </div>
        </div>
      </div>
      <div class="container-fluid">
    <div class="bannerHome row align-items-stretch my-3 staff py-4">
      <div class="row d-flex align-items-center col-lg-8 offset-lg-2">
        <div class="bannerEnvios col-sm-1">
          <i class="fas fa-4x"></i>
        </div>
        <div class="col-md-3">
          <h5>Hacé tu pedido!</h5>
          <p class="textoEnvios"> De lunes a sábado <br>
            de 11:00 a 22:00 
          </p>
        </div>
        <div class="bannerTiempo col-sm-1">
          <i class="fas  fa-4x"></i>
        </div>
        <div class="col-md-3">
          <h5>Mas de 30 variedades!</h5>
          <p class="textoTiempo"> Para amantes de la buena pizza. <br>
            
          </p>
        </div>
        <div class="banner10off col-sm-1">
          <i class="fas  fa-4x"></i>
        </div>
        <div class="col-md-3">
          <h5>Bajate nuestra app!</h5>
          <p class="texto10off"> Y disfrutá de promos exclusivas. <br>
            
          </p>
        </div>
      </div>
    </div> <br>
  </div>
        <div id="novedades" class="row py-4">
          <div class="col-md-4 offset-md-2">
            <h2>Novedades</h2>
            <ul class="lista-novedades">
              {{#each novedades}}
              <li>
                <a href="javascript:void(0)" data-toggle="modal" data-target="#modal{{id}}"><img src="{{imagen}}" width="120" alt="novedades">{{titulo}}</a>
              </li>
              {{/each}}
            </ul>
          </div>
          {{#each novedades}}
          <div class="modal fade" id="modal{{id}}" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="staticBackdropLabel"> {{titulo}} </h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  <h6> {{subtitulo}} </h6>
                  
                  <p> {{cuerpo}} </p>
                </div>
               </div>
              </div>
            </div>
            {{/each}}
            
          <div id="historia" class="col-md-4 mt-4 mt-sm-0 " >
            <div class="row align-items my-2  py-2">
                <div class="col-lg-4  row py-3 offset-1 ">
          <img src="images/historia_1.jpg" alt="historia 1" class="img-fluid">
        </div>
          <div class="col-lg-4  row py-3 offset-2">
          <img src="images/historia_2.jpg" alt="historia 2" class="img-fluid">
        </div>
           </div>
        

         <div class="row py-2 offset-1">
            <h2>Historia</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia maiores repudiandae incidunt sint id nostrum, animi porro molestias consequatur repellendus exercitationem enim.</p>
          </div>
      </div>
      
      </div>     
      
      <div id="nosotros" class="row align-items-stretch my-3 staff py-4">
        <div class="col-lg-8 offset-lg-2">
          <h2>Nosotros</h2>
          <div class="card-deck">
            <div class="card">
              <img src="images/nosotros01.jpg" alt="nosotros" class="card-img-top">
              <div class="card-body">
                <h5 class="card-title">Diana Reyes</h5>
                <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia, libero!</p>
              </div>
            </div>
            <div class="card">
              <img src="images/nosotros02.jpg" alt="nosotros" class="card-img-top">
              <div class="card-body">
                <h5 class="card-title">Juan Gomez</h5>
                <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia, libero!</p>
              </div>
            </div>
            <div class="card">
              <img src="images/nosotros03.jpg" alt="nosotros" class="card-img-top">
              <div class="card-body">
                <h5 class="card-title">Roberto Zavala</h5>
                <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia, libero!</p>
              </div>
            </div>
            <div class="card">
              <img src="images/nosotros04.jpg" alt="nosotros" class="card-img-top">
              <div class="card-body">
                <h5 class="card-title">Luciano Figuero</h5>
                <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia, libero!</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div id="conocenos" class="row py-4">
        <div class="col-md-4 offset-md-2">
          <h2>Visitanos</h2>
          <div class="embed-responsive embed-responsive-16by9">
            <iframe class="embed-responsive-item" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d13136.880445850278!2d-58.4286721128103!3d-34.59859518890147!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95bcca62d4cf1563%3A0x686de505d84c67e6!2sAv.%20Medrano%20951%2C%20C1179AAQ%20CABA!5e0!3m2!1ses-419!2sar!4v1624644762725!5m2!1ses-419!2sar" style="border:0;" allowfullscreen></iframe>
          </div>
        </div>
        <div class="col-md-4 mt-4 mt-sm-0">
          <h2>Contactanos</h2>
          <form action="/" method="POST">
            <div class="form-row">
              <div class="form-group col-md-6"> 
              <label for="nombre">Nombre</label>
              <input type="text" class="form-control" id="nombre" name="nombre" placeholder="...">
            </div>
            <div class="form-group col-md-6"> 
              <label for="apellido">Apellido</label>
              <input type="text" class="form-control" id="apellido" name="apellido" placeholder="...">
            </div>
            <div class="form-group col-md-6"> 
              <label for="email">Email</label>
              <input type="email" class="form-control" id="email" name="email" placeholder="ejemplo@email.com">
            </div>
            <div class="form-group col-md-6"> 
              <label for="tel">Tel</label>
              <input type="text" class="form-control" id="tel" name="tel" placeholder="...">
            </div>
            <div class="form-group col-md-12"> 
              <label for="mensaje">Mensaje</label>
             <textarea class="form-control"  id="mensaje"  rows="4" name="mensaje"></textarea>
            </div>
             </div>
             <button type="submit" class="btn btn-primary">Enviar</button>
          </form>
          {{message}}         
        </div>
      </div>
      
     <footer>
          <p class="text-center">
            Diseñado por: Felipe Ibarra 2021
          </p>
     </footer>